<!--
  <section class="dashboard-view" *ngIf="!hasToken">
    <div class="dashboard-view-container">
      <section>
        <img src="assets/img/spire-logo-dark.svg" alt="Spire Main Logo"/>
        <h2>
          spire
        </h2>
        <p class="muted">
          enjoy the view
        </p>
        <div class="loader-animation-container-dashboard">
          <div class="loader">
            <div class="loader__figure">
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
-->
<div class="dashboard-container">
  <devicelist class="device-list-container"></devicelist>
  <div class="dashboard-main-content">
    <!-- <div *ngFor="let device of devices">{{device.serial}} {{device.name}}</div> -->
    <devicedetail class="device-detail-container"></devicedetail>
  </div>
</div>
