<form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
  <hr>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" [(ngModel)]="loginCreds.email" autocomplete="off" autofocus required>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" [(ngModel)]="loginCreds.password" autocomplete="off" required>
  <div *ngIf="!loginWorking">
    <label for="loginSubmit">Login</label>
    <input type="submit" name="loginSubmit" id="loginSubmit" value=""/>
  </div>
</form>
<div class="form-error" *ngIf="formError">
  <p>{{formError}}</p>
  <p>{{formHelper}}</p>
</div>
<div class="login-form-admin">
  <a class="muted" routerLink="/signup">Request Access</a>
  <a class="muted" routerLink="/forgotpassword">Forgot Password</a>
</div>
<div class="loader-animation-login" *ngIf="loginWorking"></div>
