@import "utils/variables-mixins";

.dashboard-view {
  position: fixed;
  color: $alabaster;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: url("assets/img/bg/range-dawn.jpg") no-repeat center center fixed;
  background-size: cover;
}

.dashboard-view-container {
  padding: 2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  section {
    position: relative;
    @include radius;
    @include title;
    text-align: center;
    width: 25em;
    height: 25em;
    background-color: $black-pearl;
    img {
      display: block;
      width: 10em;
      margin: 1em auto 0;
    }
    h2, p {
      margin: 0;
    }
  } 
}

.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  .dashboard-main-content {
    flex: 80%;
    height: 100%;
    background-color: $alabaster;
  }
}

.device-list-container {
  flex: 20%;
}

.request-error {
  text-align: center;
  background-color: $black-pearl;
  color: $burnt-sienna;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.device-list-container-inner {
  background-color: $white;
  height: 100%;
  overflow: hidden;
  .device-list-logo {
    display: flex;
    flex-direction: row;
    align-item: center;
    justify-content: center;
    height: 4em;
    padding: 0.5em;
    background-color: $trout;
    color: $heather;
    img {
      width: 3em;
    }
  }
  .device-list-devices {
    height: 100%;
    overflow: scroll;
    h4 {
      text-transform: uppercase;
      margin: 0;
      padding: 0.5em 0;
      text-align: center;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        color: $heather;
        font-size: 0.85em;
        list-style-type: none;
        font-weight: 200;
        padding: 0.5em;
        padding-left: 1em;
        border-bottom: 1px solid $athens-gray;
        &:hover {
          color: $cadet-blue;
          background-color: $aqua-haze;
          cursor: pointer;
        }
        &.active {
          background-color: $alabaster;
          box-shadow: inset 5px 0 0 0 $celestial-blue;
        }
      }
      .select-client-devices {
        h5 {
          text-transform: uppercase;
          font-weight: 200;
          margin: 0.5em 0;
          text-align: center;
        }
        li {
          &.selected-customer {
            background-color: $celestial-blue;
            color: $white;
            &:hover {
              background-color: $celestial-blue;
            }
          }
        }
      }
    }
  }
  .device-list-filter {
    border: 1px solid $athens-gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 95%;
    font-size: 0.8em;
  }
}

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    padding: 0.5em;
    border-bottom: 1px solid $link-water;
    background-color: $white;
    h3 {
      margin: 0;
    }
    a {
      margin-left: auto;
      text-decoration: none;
      // border: 1px solid $celestial-blue;
      padding: 0.25em;
      border-radius: 4px;
      font-size: 0.85em;
      color: $heather;
      font-weight: 200;
    }
  }

.device-detail-container-inner {
}

.device-detail-large-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 10em;
  }
}

.device-detail-device {
  padding: 1em;
  padding-left: 2em;
  h4 {
    box-shadow: inset 5px 0 0 0 $celestial-blue;
    padding: 0.25em 0 0.25em 0.5em;
    text-transform: uppercase;
  }
  p {
    span {
      font-size: 0.75em;
      color: $celestial-blue;
      text-transform: uppercase;
      @include title;
    }
  }
}