@import "utils/variables-mixins";

.login-view {
  position: fixed;
  color: $alabaster;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: url("assets/img/bg/crossfit-barbells.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    position: relative;
    @include radius;
    @include title;
    text-align: center;
    width: 25em;
    // height: 25em;
    background-color: $black-pearl;
    padding-bottom: 2em;
    img {
      display: block;
      width: 10em;
      margin: 1em auto 0;
    }
    h2, p {
      margin: 0;
    }
    .heading {
      margin-top: 0.5em;
    }
    .sub-heading {
      font-family: 'Raleway';
      font-weight: 900;
      text-transform: uppercase;
      span {
        font-weight: 100;
      }
    }
  }
  .copyright {
    font-size: 0.75em;
    margin-top: 1em;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: $alabaster;
      }
    }
  }
}

.login-form {
  margin: 2em 0;
  padding: 0 1em;
  display: block;
  hr {
    border: 0; 
    height: 1px; 
    background-color: $fiord;
    background-image: linear-gradient(to left, $black-pearl, $fiord, $black-pearl);
    margin-bottom: 2em;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"] {
    color: $alabaster;
    border: 1px solid $trout;
  }
  input[type="submit"] {
    background: url('assets/img/icons/icon-check-white.svg') no-repeat center center;
    background-size: 1.5em;
    background-color: $action-button-bg;
    @include basic-transition;
    &:hover {
      cursor: pointer;
      background-color: saturate($action-button-bg, 100%);
    }
  }
  input {
    display: inline-block;
    width: 50%;
  }
  label:nth-of-type(1),
  label:nth-of-type(2),
  label {
    width: 40%;
    display: inline-block;
    font-size: 0.85em;
  }
}

.form-error {
  color: $burnt-sienna;
  font-size: 0.8em;
  margin-bottom: 1em;
  p {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

.login-form-admin {
  margin-bottom: 2em;
  a {
    display: inline-block;
    width: auto;
    padding: 0.5em;
    margin: 0.5em 0; 
    text-decoration: none;
    &:hover {
      color: $alabaster;
    }
  }
}